*{
  font-size: 24px;
  font-family: "Rubik";
  font-weight: 350;
}
body{
  display:flex;
  justify-content: center;
  align-items: center;
}

.calculator{
  display:flex;
  flex-direction: column;
  width: 160px;
  border-radius: 12px;
  border: 2px solid black;
  padding: 20px;
  background-color: whitesmoke;
  margin: 5vh auto;
}


#display{
  display: flex;
  justify-content: end;
  align-items: center;
  min-height:40px;
  border: 2px solid black;
  padding: 0 6px;
  background-color: lightgray;
  border-radius: 8px;

}

.left{  /*the left hand side of the button display, comprising clear, backspace and numbers*/
  display: flex;
  flex-wrap: wrap;
}

button{
  min-width: 35px;
  margin: 2px;
  border: none;
}

.buttons{    
  display:flex;
  justify-content: center;
  padding: 10px 0;
}

.numbers{
  display:flex;
  flex-wrap: wrap;
  flex: none;
  width: 117px;
  margin:0;
}

.operators{
  display:flex;
  flex-direction: column;
}

#clear{
  width: 74px;
  margin-left: 2px;
}

#erase{
  font-size: 18px;
}